$darkgrey : #202325;
$greygreen : #A6BFBF;
$darkgreygreen : #3E4F4F;

.adminContainer{
	height: calc(100% - 115px);
	width: 100%;
	margin-top: 65px;
	padding-top: 50px;
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.commandContainer{
	display: flex;
    flex-direction: column;
    width: 75%;
    background-color: white;
    height: calc(100% - 50px);
    border-radius: 10px;
    margin-right: 3%;
}

.adminHeader{
	background-color: $darkgrey;
    color: white;
    padding: 15px;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 32px;
}

// .commandItem{
// 	margin-left: 20px;
// }

.adminActionContainer{
	width: 15%;
	height: calc(100% - 50px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.adminAction{
    background-color: $darkgrey;
    width: calc(100% - 20px);
    color: white;
    height: 15%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.exportButton{
    background-color: $greygreen;
    color: $darkgrey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    font-size: 0.8em;
}

.adminAction:hover, .exportButton:hover, .activeAdmin{
	background-color: #546a67;
}

.adminActionImg{
	height: 50%;
	margin-top: 20px;
}

.adminActionTitle{
	font-size: 1.2em;
}

.commandSection{
	width: calc(100% - 20px);
	padding: 0 10px 20px 10px;
    border-radius: 5px;
    //height: 28%;
    transition: 0.5s;
    cursor: pointer;
}

.commandSectionContainer{
	padding: 20px;
    height: calc(100% - 1.5em - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.commandSection0{
	background-color: #b2c8ca;
}

.commandSection1{
	background-color: #739291;
}

.commandSection2{
	background-color: #546a67;
}

.commandSectionTitle{
	font-size: 1.3em;
	padding: 5px;
}

.commandSectionTitle2{
	color: white;
}

.commandSectionContent{
	background-color: white;
	overflow-y: scroll; 
	padding: 5px;
	height: calc(100% - 40px)
}

.commandItem{
	text-align: left;
	padding-left: 10px;
}

.selectStatus{
	padding: 5px;
	border-radius: 5px;
}

.adminIcon{
    font-size: 1.2em;
    color: $darkgreygreen;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    border-radius: none;
}

table td, table th {
    border: 1px solid #739291;
    border-top:0;
    text-align: center;
}
table td {
	padding: 5px 2px 5px 2px;
}
table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

table td {
    border-left: 1px solid #739291;
    border-right: 1px solid #739291;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

col:nth-of-type(1) {width:10%;}
col:nth-of-type(2) {width:3%;}
col:nth-of-type(3) {width:12%;}
col:nth-of-type(4) {width:19%;}
col:nth-of-type(5) {width:5%;}
col:nth-of-type(6) {width:18%;}
col:nth-of-type(7) {width:6%;}
col:nth-of-type(8) {width:15%;}
